/*--------------------- General ----------------------*/
body{
    background-color: rgb(241, 111, 4);
}

/*.section-bg-color{
    background-color: #e95420;
}*/

.circle-top {
    position:relative;
    width:40%;
    padding-bottom:40%;
    background:rgb(92, 66, 141);
    border-radius:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.circle-top-text{
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    color: #f1f1f1;
    font-size: 13vw;
    line-height: 1;
    text-align: center;
}
/*media only screen fixed to large devices and below*/
@media only screen and (min-width: 1200px) {
.home-top {
    height: 100vh
  }
}

/*---------------------base.html ----------------------*/
@media only screen and (min-width: 992px) {
.card-of-place {
    overflow: overlay;
    width: auto;
    height: 500px;
    border-radius: 10px;
}
}

/*Footer*/
.footer-logo {
    max-width: 180px;
    height: auto;
    }

.facebook-color{
    background-color: #3b5998
}
.instagram-color{
    background-color: #ac2bac
}
.twitter-color{
    background-color: #55acee
}
.youtube-color{
    background-color: #ee0d0d
}
/*---------------------index.html ----------------------*/

/*--------------------- Navbar ----------------------*/
.navbar{
    width: 100%;
}

/*--------------------- Index.html ----------------------*/

/*--------------------- Bootstrap cards ----------------------*/
.all-cards{
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*--------------------- profile.html ----------------------*/

.home-desc{
    color: #f1f1f1;
    font-size: 9vw;
    line-height: 1;
    text-align: center;
    padding-bottom: 15px;
}

/*--------------------- add_place.html ----------------------*/
.add-place-form{
    color: #f1f1f1;
    background-color: rgb(92, 66, 141);
}

/*--------------------- Register.html ----------------------*/
* {box-sizing: border-box}

/* Container padding */
.container {
  padding: 16px;
  padding-top: 30px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* hr style */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Blue text color to link */
a {
  color: dodgerblue;
}

/* background and center for signin */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* Flash message style */
.flashes h4{
    text-align: center;
    color: #f1f1f1;
    background-color: rgb(92, 66, 141);
}