{% extends "base.html" %}
{% block content %}

<!--Used add form(copied from register) from this link https://www.w3schools.com/howto/howto_css_register_form.asp -->
<div class="circle-top">
    <h1 class="circle-top-text">New Place</h1>
</div>
<hr>
<!--Used card code from this link https://freefrontend.com/bootstrap-cards/ -->
    <div class="container">
        <div class="row">
            <form class="col-lg-12 mb-4" method="POST" action="{{ url_for('add_place') }}" enctype="multipart/form-data" >
                <div class="card add-place-form">
                    <!-- city -->
                    <div class="card-body input-field-add">
                        <label for="place_city">City</label>
                        <input id="place_city" placeholder="2-20 characters" name="place_city" minlength="2" maxlength="20"
                        type="text" class="validate" required>
                    </div>
                        <!-- country -->
                    <div class="card-body input-field-add">
                        <label for="place_country">Country</label>
                        <input id="place_country" placeholder="2-20 characters" name="place_country" minlength="2" maxlength="20"
                        type="text" class="validate" required>
                    </div>
                        <!-- description -->
                    <div class="card-body input-field-add">
                        <label for="place_description">Description</label>
                        <textarea id="place_description" class="form-control validate" name="place_description" 
                        minlength="10" maxlength="250" type="text" rows="3" required></textarea>
                        <div id="desc-char"></div>
                    </div>
                        <!-- pros -->
                    <div class="card-body input-field-add">
                        <label for="place_pros">Pros</label>
                        <input id="place_pros" placeholder="4-20 characters" name="place_pros" minlength="4" maxlength="20"
                        type="text" class="validate" required>
                    </div>
                        <!-- cons -->
                    <div class="card-body input-field-add">
                        <label for="place_cons">Cons</label>
                        <input id="place_cons" placeholder="4-20 characters" name="place_cons" minlength="4" maxlength="20"
                        type="text" class="validate" required>
                    </div>
                        <!-- image url, upload -->
                    <div class="card-body input-field-add">
                        <label for="place_cons">Image URL</label>
                        <input id="image_url" placeholder="Enter URL" name="image_url" minlength="4" maxlength="200"
                            type="text" class="validate" required>
                        <!-- submit button -->
                        <button type="submit" class="registerbtn">Add Place</button>
                    </div>
                </div>
            </form>
        </div>
    </div>    


{% endblock %}