{% extends "base.html" %}
{% block content %}

<!-- Flash message after edited place -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="flashes">
                <h4 class="my-5">{{ message }}</h4>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!--Used add form(copied from register) from this link https://www.w3schools.com/howto/howto_css_register_form.asp -->
<div class="circle-top">
    <h1 class="circle-top-text">Edit Place</h1>
</div>
<hr>
<!--Used card code from this link https://freefrontend.com/bootstrap-cards/ -->
    <div class="container">
        <div class="row">
            <form class="col-lg-12 mb-4" method="POST" action="{{ url_for('edit_place', place_id=place._id) }}" enctype="multipart/form-data">
                <div class="card add-place-form">
                    <img src="#"
                        alt="" class="card-img-top">
                    <!-- city -->
                    <div class="card-body input-field-add">
                        <label for="place_city">City</label>
                        <input id="place_city" placeholder="2-20 characters" name="place_city" minlength="2" maxlength="20"
                        type="text" class="validate" value="{{ place.place_city }}" required>
                    </div>
                        <!-- country -->
                    <div class="card-body input-field-add">
                        <label for="place_country">Country</label>
                        <input id="place_country" placeholder="2-20 characters" name="place_country" minlength="2" maxlength="20"
                        type="text" class="validate" value="{{ place.place_country }}" required>
                    </div>
                        <!-- description -->
                    <div class="card-body input-field-add">
                        <label for="place_description">Description</label>
                        <textarea id="place_description" class="form-control validate" name="place_description" 
                        minlength="10" maxlength="250" type="text" rows="3" required>{{- place.place_description -}}</textarea>
                        <div id="desc-char"></div>
                    </div>
                        <!-- pros -->
                        <div class="card-body input-field-add">
                        <label for="place_pros">Pros</label>
                        <input id="place_pros" placeholder="2-20 characters" name="place_pros" minlength="2" maxlength="20"
                        type="text" class="validate" value="{{ place.place_pros }}" required>
                    </div>
                        <!-- cons -->
                        <div class="card-body input-field-add">
                        <label for="place_cons">Cons</label>
                        <input id="place_cons" placeholder="2-20 characters" name="place_cons" minlength="2" maxlength="20"
                        type="text" class="validate" value="{{ place.place_cons }}" required>
                        <!-- image, upload -->
                        <input type="file" name="file" required>
                        <!-- submit button -->
                        <button type="submit" class="registerbtn">Edit Place</button>
                        <!-- cancel button, if form is cancelled user gets redirected to home page -->
                        <a href="{{ url_for('home') }}" class="btn btn-danger btn-block btn-lg" role="button" aria-pressed="true">Cancel</a>
                    </div>

                </div>
            </form>
        </div>
    </div>    


{% endblock %}