{% extends "base.html" %}
{% block content %}

<!--Used login form(copied from register) from this link https://www.w3schools.com/howto/howto_css_register_form.asp -->
<div class="circle-top">
    <h1 class="circle-top-text">Places</h1>
</div>
<hr>
<!--Used card code from this link https://freefrontend.com/bootstrap-cards/ -->
<section id="gallery">
    <div class="container" id="scrolling-card" onscroll="scrollcard()">
        <div class="row">
            {% for place in places %}
            <div class="col-lg-4 mb-4">
                <div class="card card-of-place">
                    <img class="card-img-top" alt="card image" src="{{ place.place_file }}">
                    <div class="card-body">
                        <h3 class="card-title">{{ place.place_city }}</h3>
                        <h4 class="card-title">{{ place.place_country }}</h4>
                        <p class="card-text">Description: {{ place.place_description }}</p>
                        <p class="card-text font-weight-bold">Pros: {{ place.place_pros }}</p>
                        <p class="card-text font-weight-bold">Cons: {{ place.place_cons }}</p>
                        <p>Created by: {{ place.created_by }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}