{% extends "base.html" %}
{% block content %}

<!--Used login form(copied from register) from this link https://www.w3schools.com/howto/howto_css_register_form.asp -->
<div class="circle-top">
    <h1 class="circle-top-text">Places</h1>
</div>
<hr>
<!--Used card code from this link https://freefrontend.com/bootstrap-cards/ -->
<section id="gallery">
    <div class="container" id="scrolling-card" onscroll="scrollcard()">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card card-of-place">
                <div class="card">
                    <img class="card-img-top" src="{{url_for('static', filename='images/lion.webp')}}">
                    <div class="card-body">
                        <h3 class="card-title">The Oasis</h3>
                        <h4 class="card-title">South Africa</h4>
                        <p class="card-text">Description: A wild place in South Africa, wild animals and lots of danger
                            but I like,
                            like it a lot. This is a dream come true. :)</p>
                        <p class="card-text font-weight-bold">Pros: AMAZING NATURE, love it!</p>
                        <p class="card-text font-weight-bold">Cons: So WILD!</p>
                        <p>Created by: Henric</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}