{% extends "base.html" %}
{% block content %}

<!-- Flash message while loging in -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="flashes">
                <h4 class="my-5">{{ message }}</h4>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!--Used login form(copied from register) from this link https://www.w3schools.com/howto/howto_css_register_form.asp -->
<form class="container text-center">
    <div class="container text-center circle-top">
        <h3 class="circle-top-text">
            {{ username }}'s Profile
        </h3>
    </div>
</form>
<hr>
<!--Used card code from this link https://freefrontend.com/bootstrap-cards/ -->

<section id="gallery">
    <div class="container">
        <div class="row">
            {% for place in places %}
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{ place.place_file }}">
                    <div class="card-body">
                        <h3 class="card-title">{{ place.place_city }}</h3>
                        <h4 class="card-title">{{ place.place_country }}</h4>
                        <p class="card-text">Description: {{ place.place_description }}</p>
                        <p class="card-text font-weight-bold">Pros: {{ place.place_pros }}</p>
                        <p class="card-text font-weight-bold">Cons: {{ place.place_cons }}</p>
                        <p>Created by: {{ place.created_by }}</p>
                        <a href="{{ url_for('edit_place', place_id=place._id) }}" type="button" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>


{% endblock %}